In [1]:
import pandas as pd 
import imp
import html5lib 
code_df = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13', header=0)[0]

In [2]:
code_df.종목코드 = code_df.종목코드.map('{:06d}'.format)
code_df = code_df[['회사명', '종목코드']]
code_df = code_df.rename(columns={'회사명': 'name', '종목코드': 'code'})
code_df.head()

    name    code
0    DSR  155660
1  GS글로벌  001250
2  HSD엔진  082740
3  LG이노텍  011070
4    OCI  010060

In [12]:
def get_url(item_name, code_df):
    code = code_df.query("name=='{}'".format(item_name))['code'].to_string(index=False)
    code=code.strip(' ')
    url = 'http://finance.naver.com/item/sise_day.nhn?code={code}'.format(code=code)
    print("요청 URL = {}".format(url)) 
    return url

In [19]:
item_name='신라젠'
url=get_url(item_name,code_df)
df=pd.DataFrame()
for page in range(1, 21): 
    pg_url = '{url}&page={page}'.format(url=url, page=page) 
    df = df.append(pd.read_html(pg_url, header=0)[0], ignore_index=True)
    
df.dropna(inplace=True)

요청 URL = http://finance.naver.com/item/sise_day.nhn?code=215600

In [22]:
df = df.rename(columns= {'날짜': 'date', '종가': 'close', '전일비': 'diff', '시가': 'open', '고가': 'high', '저가': 'low', '거래량': 'volume'}) 

df[['close', 'diff', 'open', 'high', 'low', 'volume']] = df[['close', 'diff', 'open', 'high', 'low', 'volume']].astype(int) 

df = df.sort_values(by=['date'], ascending=True)

In [23]:
df.head()

           date  close  diff   open   high    low   volume
298  2019.03.12  73800  1300  76300  79000  68700  6136865
297  2019.03.13  68300  5500  74000  74100  66800  5813047
296  2019.03.14  68300     0  68300  70700  68300  2058016
295  2019.03.15  65900  2400  68300  68300  64100  4106283
294  2019.03.18  66500   600  67500  68200  66200  1429222

https://excelsior-cjh.tistory.com/109